<header class="header container">
    <h2 class="header_title">Travelling.com</h2>
    <nav class="header_navigation">
        <a
            *ngFor="let menu of menuSelectList"
            [ngClass]="{'selected': path === menu.path }"
            (click)="navigate(menu.path)"
        >
            {{ menu.title }}
        </a>
    </nav>

    <div class="header_button-menu">
        <div ngbDropdown class="d-inline-block">
            <button class="button-menu--item btn-line" ngbDropdownToggle >
                <i class="pi pi-bars"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="list">
                <button *ngFor="let list of menuSelectList" ngbDropdownItem (click)="navigate(list.path)">
                    {{ list.title }}
                </button>
            </div>
        </div>
    </div>
</header>