<header class="header">
    <h2 class="header_title">Travelling.com</h2>
    <nav class="header_navigation">
        <a
            *ngFor="let menu of menuSelectList"
            [ngClass]="{'selected': path === menu.path }"
        >
            {{ menu.title }}
        </a>
    </nav>
    <div class="header_button-menu">
        <div ngbDropdown class="d-inline-block">
            <button class="button-menu--item btn-line" ngbDropdownToggle>
                <span>Menu</span>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="list">
                <button ngbDropdownItem>Home</button>
                <button ngbDropdownItem>Sobre</button>
                <button ngbDropdownItem>Serviços</button>
            </div>
        </div>
    </div>
</header>