<table *ngIf="travelList.length" class="table table-striped">
    <thead>
        <tr> 
            <th scope="col"></th>
            <th scope="col">Nome</th>
            <th scope="col">Destino</th>
            <th scope="col">Valor</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let travel of travelList; index as i">
            <th scope="row"></th>

            <td>{{ travel.name }}</td>
            <td>{{ travel.destiny }}</td>
            <td>{{ travel.tripValue | currency: 'BRL' }}</td>

            <td class="table-actions">
                <a class="table-actions_button" (click)="editTravel(travel.id)">
                    <i class="pi pi-pencil"></i>
                </a>

                <a class="table-actions_button" (click)="deleteTravel(travel.id)">
                    <i class="pi pi-trash"></i>
                </a>
            </td>

            <th scope="row"></th>
        </tr>
    </tbody>
</table>

<div *ngIf="travelList.length" class="travel-list">
    <div class="travel-list_grid" *ngFor="let list of travelList; index as j">
        <p>Nome:</p> {{ list.name }}
        <p>Destino:</p> {{ list.destiny }}
        <p>Valor:</p> {{ list.tripValue | currency: 'BRL' }}
        <div class="travel-grid_actions">
            <button class="btn-line" (click)="editTravel(list.id)">
                <i class="pi pi-pencil"></i>
            </button>
            <button class="btn-line" (click)="deleteTravel(list.id)">
                <i class="pi pi-trash"></i>
            </button>
        </div>
    </div>
</div>