<app-header></app-header>

<div class="container about">
    <div class="row about-main_info">
        <div class="col-12 col-md-6 about-main_item">
            <p>Missão</p>

            <span>
                Lorem ipsum dolor sit amet. Ea voluptas dolores aut quibusdam dolore et laudantium quae quo velit sapiente est rerum officiis ex blanditiis eligendi? Aut repellat expedita sed quasi odio eum molestiae voluptas aut soluta itaque. Sed illo possimus 33 explicabo repellendus est pariatur autem?
            </span>
        </div>
        <div class="col-12 col-md-6 about-main_image">
            <img src="../../../assets/img/about/img1.jpg" alt="Missão Image">
        </div>

        <div class="col-12 col-md-6 about-main_image before">
            <img src="../../../assets/img/about/img2.jpg" alt="Missão Image">
        </div>
        <div class="col-12 col-md-6 about-main_item">
            <p class="plans_title">Visão</p>

            <span>
                Cum unde cupiditate 33 nesciunt quisquam aut saepe vitae ut distinctio sunt ut dolores itaque nam maiores autem aut praesentium itaque! Ut dolorum facilis aut nostrum molestias sit repellat ratione. Qui tempore quod aut cumque quia sit excepturi illum eos distinctio corrupti et excepturi incidunt.
            </span>
        </div>
        <div class="col-12 col-md-6 about-main_image after">
            <img src="../../../assets/img/about/img2.jpg" alt="Missão Image">
        </div>

        <div class="col-12 col-md-6 about-main_item">
            <p>Valores</p>

            <span>
                Et eaque amet 33 nihil laboriosam est quibusdam eligendi ut quos voluptatem et itaque veritatis. Sit minus tempore et expedita velit qui nemo explicabo in repellat doloremque. Aut quaerat recusandae At cupiditate repellat rem culpa facilis non perspiciatis velit sed quidem dolorem.
            </span>
        </div>
        <div class="col-12 col-md-6 about-main_image">
            <img src="../../../assets/img/about/img3.jpg" alt="Missão Image">
        </div>
    </div>
</div>

<app-footer></app-footer>