<app-header></app-header>

<div class="container about">
    <div class="row about-main_info">
        <div class="col-12 col-md-6 about-main_item">
            <p>Missão</p>

            <span>
                Na <strong>Travelling.com</strong> proporcionamos aos nossos clientes as melhores experiências que o mundo pode oferecer. Viajens aos mais diversos e variados destinos, com a garantia de diversão e economia para você e sua familia!
            </span>
        </div>
        <div class="col-12 col-md-6"></div>

        <div class="col-3 col-md-6"></div>
        <div class="col-12 col-md-6 about-main_item">
            <p class="plans_title">Visão</p>

            <span>
                Temos diversos planos para viajens aos mais variados pontos turísticos ao redor do mundo. Preencha o formulário para entrar em uma lista de espera para o destino escolhido e basta aguardar!!!
            </span>
        </div>

        <div class="col-12 col-md-6 about-main_item">
            <p>Valores</p>

            <span>
                Na <strong>Travelling.com</strong> proporcionamos aos nossos clientes as melhores experiências que o mundo pode oferecer. Viajens aos mais diversos e variados destinos, com a garantia de diversão e economia para você e sua familia!
            </span>
        </div>
        <div class="col-12 col-md-6"></div>
    </div>
</div>

<app-footer></app-footer>