<app-header></app-header>

<div class="container form">
    <form class="row">
        <div class="col-12 form-title">
            <p>Formulário</p>
        </div>

        <div class="col-6 field">
            <label for="name">Nome</label>
            <input 
                type="text" 
                name="name" 
                id="name-input"
                class="input-field"
            >
        </div>
        <div class="col-6 field">
            <label for="name">Nome</label>
            <input 
                type="text" 
                name="name" 
                id="name-input"
                class="input-field"
            >
        </div>
    </form>
</div>

<app-footer></app-footer>