.btn-line {
    background: none;
    border: none;
    padding: .5rem .8rem;
    border-radius: 5px;
    transition: .3s;
}
.btn-line span {
    margin-right: .2rem;
}
.btn-line:hover {
    background: var(--primary-darken-color);
}

.primary-button {
    background: none;
    border: solid 2px var(--secondary-color);
    border-radius: 5px;
    padding: .8rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    transition: .3s;
    outline: none;
    color: var(--secondary-color);
}

.primary-button:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
}

.primary-button:active {
    background: var(--secondary-lighten-color);
    border: solid 2px var(--secondary-lighten-color);
}

.line-button {
    background: none;
    border: none;
    border-radius: 5px;
    padding: .8rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    transition: .3s;
    outline: none;
    color: var(--secondary-color);
}

.line-button:hover {
    background: var(--primary-darken-color);
}

.line-button:active {
    background: var(--primary-darken-color);
}

.input-field {
    background: none;
    border: solid 1px #d2d2d2;
    border-radius: 5px;
    font-size: .8rem;
    padding: .6rem 1rem;
    outline: none;
    transition: .3s;
}

.input-field:focus {
    border: solid 1px var(--secondary-color);
}

.select-field {
    background: none;
    border: solid 1px #c2c2c2;
    border-radius: 5px;
    font-size: 1rem;
    padding: .4rem 1rem;
    outline: none;
    transition: .3s;
}