<app-header></app-header>

<div class="content">
    <ngb-carousel>
        <ng-template ngbSlide *ngFor="let img of images;let i = index">
            <div class="picsum-img-wrapper">
                <img [src]="images[i]" alt="Carousel image" />
            </div>
            <div class="carousel-caption">
                <h3>Viaje com a <strong>Travelling.com</strong></h3>
                <p>Os melhores preços e destinos estão aqui.</p>
            </div>
        </ng-template>
        <!-- <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[2]" alt="Random third slide" />
            </div>
            <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </ng-template> -->
    </ngb-carousel>
</div>

<section class="container">
    <div class="row main-home_info">
        <div class="col-12 col-md-6 main-home_grid">
            <p>Quem somos?</p>

            <span>
                Na <strong>Travelling.com</strong> proporcionamos aos nossos clientes as melhores experiências que o mundo pode oferecer. Viajens aos mais diversos e variados destinos, com a garantia de diversão e economia para você e sua familia!
            </span>
        </div>
        <div class="col-12 col-md-6"></div>

        <div class="col-3 col-md-6"></div>
        <div class="col-12 col-md-6 main-home_grid">
            <p class="plans_title">Destinos</p>

            <span>
                Temos diversos planos para viajens aos mais variados pontos turísticos ao redor do mundo. Preencha o formulário para entrar em uma lista de espera para o destino escolhido e basta aguardar!!!
            </span>
        </div>
    </div>
</section>

<section class="benefits container">
    <div class="row main-home_benefits">
        <div class="col-12 benefits--title">
            <p>Principais vantagens</p>
        </div>

        <div class="col-12 col-md-2"></div>
        <div class="col-12 col-md-4 benefits--item">
            <i class="pi pi-percentage"></i>
            <div class="benefits--item_details">
                <p>Descontos</p>
                <span>
                    Aqui você tem desconto de 30% na primeira viagem
                </span>
            </div>
        </div> 
        <div class="col-12 col-md-4 benefits--item">
            <i class="pi pi-phone"></i>
            <div class="benefits--item_details">
                <p>Suporte</p>
                <span>
                    Atendimento e suporte para dúvidas
                </span>
            </div>
        </div>
        <div class="col-12 col-md-2"></div>

        <div class="col-12 col-md-2"></div>
        <div class="col-12 col-md-4 benefits--item">
            <i class="pi pi-percentage"></i>
            <div class="benefits--item_details">
                <p>Descontos</p>
                <span>
                    Aqui você tem desconto de 30% na primeira viagem
                </span>
            </div>
        </div> 
        <div class="col-12 col-md-4 benefits--item">
            <i class="pi pi-phone"></i>
            <div class="benefits--item_details">
                <p>Suporte</p>
                <span>
                    Atendimento e suporte para dúvidas
                </span>
            </div>
        </div>
        <div class="col-12 col-md-2"></div>

        <div class="col-12 col-md-2"></div>
        <div class="col-12 col-md-4 benefits--item">
            <i class="pi pi-percentage"></i>
            <div class="benefits--item_details">
                <p>Descontos</p>
                <span>
                    Aqui você tem desconto de 30% na primeira viagem
                </span>
            </div>
        </div> 
        <div class="col-12 col-md-4 benefits--item">
            <i class="pi pi-phone"></i>
            <div class="benefits--item_details">
                <p>Suporte</p>
                <span>
                    Atendimento e suporte para dúvidas
                </span>
            </div>
        </div>
        <div class="col-12 col-md-2"></div>
    </div>
</section>

<section class="form container">
    <div class="row form-button">
        <button 
        type="button"
        class="primary-button"
        (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample"
        >
            {{ isCollapsed ? 'Exibir' : 'Ocultar'}} lista de viajens
        </button>
    </div>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="form-collapse">
        <div class="card">
            <app-travel-list></app-travel-list>
            <!-- <form class="row card-body form-content">
                <div class="col-3">
                    COlumn
                </div>
                <div class="col-3">
                    COlumn
                </div>
                <div class="col-3">
                    COlumn
                </div>
                <div class="col-3">
                    COlumn
                </div>
            </form> -->
        </div>
    </div>
</section>

<app-footer></app-footer>