<app-header></app-header>

<div class="content">
    <ngb-carousel>
        <ng-template ngbSlide *ngFor="let img of images;let i = index">
            <div class="picsum-img-wrapper">
                <img [src]="images[i]" alt="Carousel image" />
                <!-- <img src="../../../assets/img/carousel/carousel_img_1.jpg" alt=""> -->
            </div>
        </ng-template>
        <!-- <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[2]" alt="Random third slide" />
            </div>
            <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </ng-template> -->
    </ngb-carousel>
</div>